.chatbox{
	width: 300px;
	height: 300px;
	padding: 5px;
	border-radius: 10px;
	overflow-y: auto;
}

.chat-input-box {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
}

.bot-msg-typing{
	color: a7a7d6;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #f1f1f1;
}
.bot-msg{
	color: #00f;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px dotted #ac1;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #e6d6d6;
}
.human-msg {
	text-align: right;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #efa;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
}

/*typing css start*/
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink {
	display: inline-block;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.send-message-input {
	width: 91%;
    font-size: 16px;
    padding: 4%;
    border-radius: 5px;
    border: solid 1px #000;
}
/*typing css end*/


	/* Button used to open the chat form - fixed at the bottom of the page */
	.open-button {
	  padding: 16px 20px;
	  border: none;
	  cursor: pointer;
	  opacity: 0.8;
	  position: fixed;
	  bottom: 23px;
	  right: 28px;
	  width: 280px;
	  text-align: right;
	  font-size: 50px;
	}

	/* The popup chat - hidden by default */
	.chat-popup {
	  display: block;
	  position: fixed;
	  bottom: 0;
	  right: 15px;
	  border: 3px solid #f1f1f1;
	  z-index: 9;
	}


	/* Add a red background color to the cancel button */
	.form-container .cancel {
	  background-color: red;
	}

	/* Add some hover effects to buttons */
	.form-container .btn:hover, .open-button:hover {
	  opacity: 1;
	}

	.closeChatBox{
	    float:right;
	    position:relative;
	    margin-right:1px;
	    cursor: pointer;
	    font-weight: bold;
	}
	.chatTitle {
		background-color: #8383ff;
		border-radius: 2px;
		padding: 5px;
	}